.footer{
    position: fixed;

    background-color: #717cc56c;
    padding: 100;
    bottom: 0;
   

    display: flex;
    justify-content: flex-end;
}

.footer span{
    font-size: 1rem;
    font-weight: 300;
    color: #000000;
}