.link-toolbar{
    text-decoration: none;
    color: aliceblue;
}
.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo{
    max-height: 50px;
}