<mat-card>
    <button mat-button color="accent"  routerLink="/questao/listar">← Voltar</button>

    <mat-card-content>
        <mat-form-field class="input" id="nquestao">
            <mat-label for="nquestao">Número da questão:</mat-label>
            <input matInput type="text" name="nquestao" [(ngModel)]="nquestao" />
        </mat-form-field>
        <br>
        <mat-form-field class="input" id="pergunta">
            <mat-label for="pergunta">Pergunta:</mat-label>
            <input matInput type="text" name="pergunta" [(ngModel)]="pergunta" />
        </mat-form-field>
        <br>
        <mat-form-field class="input" id="respostaC">
            <mat-label for="respostaC">Resposta Correta:</mat-label>
            <input matInput type="text" name="respostaC" [(ngModel)]="respostaC" />
        </mat-form-field>
        <br>
        <mat-form-field class="input" id="respostaF1">
            <mat-label for="respostaF1">Resposta Incorreta1:</mat-label>
            <input matInput type="text" name="respostaF1" [(ngModel)]="respostaF1" />
        </mat-form-field>
        <br>
        <mat-form-field class="input" id="respostaF2">
            <mat-label for="respostaF2">Resposta Incorreta2:</mat-label>
            <input matInput type="text" name="respostaF2" [(ngModel)]="respostaF2" />
        </mat-form-field>
        <br>
        <mat-form-field class="input" id="respostaF3">
            <mat-label for="respostaF3">Resposta Incorreta3:</mat-label>
            <input matInput type="text" name="respostaF3" [(ngModel)]="respostaF3" />
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" (click)="cadastrar( )">Cadastrar</button>

    </mat-card-content>
</mat-card>

