<mat-card>
    <button mat-button color="accent"  routerLink="/questao/listar">← Voltar</button>

    <mat-card-content>
        <mat-form-field class="input" id="pergunta">
            <mat-label for="pergunta">Pergunta:</mat-label>
            <input matInput type="text" name="pergunta" [(ngModel)]="pergunta" />
        </mat-form-field>
        <br>

        <mat-form-field class="input" id="categoria">
            <mat-label for="categoria">Categoria:</mat-label>
            <mat-select name="categoria" [(ngModel)]="categoriaId">
                <mat-option
                    *ngFor="let categoria of categorias"
                    value="{{ categoria.id }}"
                >
                    {{ categoria.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="input" id="respostaCerta">
            <mat-label for="respostaCerta">Resposta Correta:</mat-label>
            <input matInput type="text" name="respostaCerta" [(ngModel)]="respostaCerta" />
        </mat-form-field>

        <h2>Copie e Cole a (Resposta Correta↑) em uma das opçoes a baixo ↓</h2>
        <h4>Onde ficara a resposta correta</h4>
        --
        <mat-form-field class="input" id="resposta1">
            <mat-label for="resposta1">Resposta 1:</mat-label>
            <input matInput type="text" name="resposta1" [(ngModel)]="resposta1" />
        </mat-form-field>
        --
        <mat-form-field class="input" id="resposta2">
            <mat-label for="resposta2">Resposta 2:</mat-label>
            <input matInput type="text" name="resposta2" [(ngModel)]="resposta2" />
        </mat-form-field>
        --
        <mat-form-field class="input" id="resposta3">
            <mat-label for="resposta3">Resposta 3:</mat-label>
            <input matInput type="text" name="resposta3" [(ngModel)]="resposta3" />
        </mat-form-field>
        --
        <mat-form-field class="input" id="resposta4">
            <mat-label for="resposta4">Resposta 4:</mat-label>
            <input matInput type="text" name="resposta4" [(ngModel)]="resposta4" />
        </mat-form-field>

            <br><br><br><button mat-raised-button color="primary" (click)="cadastrar( )" class="cadastrar">Cadastrar</button>

    </mat-card-content>
</mat-card>

