button{
    background-color: rgb(141, 32, 168);
}

mat-card{
    position: relative;
    height: 74.3vh;
    width: 97.6vw;
}

mat-card-content{
    padding: 3%;
  display: grid;
  align-items: center;
  justify-content: center;
}