<mat-card color= warn>
    <h1>Login</h1>

    <div id="email">
        <label for="email">E-mail:</label>
        <input type="text" name="email"  [(ngModel)]="email"/>
    </div>
    <div id="senha">
        <label for="senha">Senha:</label>
        <input type="text" name="senha"  [(ngModel)]="senha"/>
    </div>
    <br>
    <!--Aqui vai enviar para validação do Back !!!!   (PROVISORIO TESTE)-->
    <button (click)="entrar( )">Entrar</button>
    <!--<a mat-raised-button color="primary" routerLink="jogador/listar">
        Entrar...
    </a>-->
    <h3> ENTRAR sem validação!!!</h3>
</mat-card>
<mat-card>

    <a mat-raised-button color="primary" routerLink="jogador/cadastrar">
        <mat-icon>event</mat-icon>
        Novo Jogador
    </a>


</mat-card>