<mat-card color= warn>
    <mat-card-content>
        <h1><b>Login</b></h1>

        <mat-form-field class="input" id="email">
            <mat-label for="email">E-mail:</mat-label>
            <input matInput type="text" name="email" [(ngModel)]="email" />
        </mat-form-field>

        <mat-form-field class="input" id="senha">
            <mat-label for="senha">Senha:</mat-label>
            <input matInput type="text" name="number" [(ngModel)]="senha" />
        </mat-form-field>


        <button mat-button color="accent" (click)="entrar( )">Entrar</button>

        <br><br>

        <h2>Não tem uma conta? <br> Clique Aqui ↓</h2>
        <a mat-raised-button color="primary" routerLink="jogador/cadastrar">
            <mat-icon>event</mat-icon>
            Criar Conta
        </a>

    </mat-card-content>
</mat-card>




