
<div id="pergunta">
    <label for="pergunta">Pergunta:</label>
    <input type="text" name="pergunta"  [(ngModel)]="pergunta"/>
</div>
<div id="respostaCerta">
    <label for="respostaCerta">Resposta Correta:</label>
    <input type="text" name="respostaCerta"  [(ngModel)]="respostaCerta"/>
</div>
<div id="resposta1">
    <label for="resposta1">Resposta 1:</label>
    <input type="text" name="resposta1"  [(ngModel)]="resposta1"/>
</div>
<div id="resposta2">
    <label for="resposta2">Resposta 2:</label>
    <input type="text" name="resposta2"  [(ngModel)]="resposta2"/>
</div>
<div id="resposta3">
    <label for="resposta3">Resposta 3:</label>
    <input type="text" name="resposta3"  [(ngModel)]="resposta3"/>
</div>
<div id="resposta4">
    <label for="resposta4">Resposta 4:</label>
    <input type="text" name="resposta4"  [(ngModel)]="resposta4"/>
</div>
<div id=" jogadorId">
    <label for=" jogadorId"> jogadorId:</label>
    <input type="text" name=" jogadorId"  [(ngModel)]=" jogadorId"/>
</div>

<button (click)="update()">Editar</button><br>
