<div id="nquestao">
    <label for="nquestao">Numero da Pergunta:</label>
    <input type="text" name="nquestao"  [(ngModel)]="nquestao"/>
</div>
<div id="pergunta">
    <label for="pergunta">Pergunta:</label>
    <input type="text" name="pergunta"  [(ngModel)]="pergunta"/>
</div>
<div id="respostaC">
    <label for="respostaC">Resposta Correta:</label>
    <input type="text" name="respostaC"  [(ngModel)]="respostaC"/>
</div>
<div id="respostaF1">
    <label for="respostaF1">Resposta Falsa1:</label>
    <input type="text" name="respostaF1"  [(ngModel)]="respostaF1"/>
</div>
<div id="respostaF2">
    <label for="respostaF2">Resposta Falsa2:</label>
    <input type="text" name="respostaF2"  [(ngModel)]="respostaF2"/>
</div>
<div id="respostaF3">
    <label for="respostaF3">Resposta Falsa3:</label>
    <input type="text" name="respostaF3"  [(ngModel)]="respostaF3"/>
</div>
<div id="ponto">
    <label for="ponto">Ponto:</label>
    <input type="text" name="ponto"  [(ngModel)]="ponto"/>
</div>
<div id=" jogadorId">
    <label for=" jogadorId"> jogadorId:</label>
    <input type="text" name=" jogadorId"  [(ngModel)]=" jogadorId"/>
</div>

<button (click)="update()">Editar</button><br>
