<mat-card>
        <mat-nav-list>
            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>►</mat-icon>
                <a mat-list-item routerLink="/questao/listar">Jogar</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>app_registration</mat-icon>
                <a mat-list-item routerLink="/questao/listar">Perguntas</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>settings</mat-icon>
                <a mat-list-item routerLink="/jogador/conta">Conta</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon  class="material-icons-outlined" mat-list-icon >logout</mat-icon>
                <a  mat-list-item routerLink="">Sair</a>
            </mat-list-item>

            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="delete()">Deletar</button>
            </mat-card-actions>

        </mat-nav-list>
</mat-card>
